
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 pl-1 pr-0 text-center align-content-center">
    <span>Entries per page:</span>
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
    <select class="form-select" id="pagenumToDisplaySel" style="height: 30px; padding-top: 5px; padding-bottom: 5px; font-size: 12px;">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>