<!-- right offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-released" aria-labelledby="offcanvasRightLabel" data-bs-backdrop="static">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">RELEASED</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td class="text-right" width="30%">
                                RECORD NO.:
                            </td>
                            <td class="align-content-center" width="70%">
                                <span id="relNumberText"></span>&nbsp;<a href="javascript: navigator.clipboard.writeText('')" class="fw-normal" id="copyClipBoardNum"><i class="ri-lg ri-file-copy-fill"></i> copy</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right" width="30%">
                                DEPARTMENT:
                            </td>
                            <td class="align-content-center" id="releaseDepartment" width="70%">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right" width="30%">
                                DATE:
                            </td>
                            <td class="align-content-center" id="dateReleased" width="70%">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12">
                <table class="table table-bordered table-striped" id="releasedItemsTbl">
                    <thead class="table-light">
                        <tr>
                            <th class="text-center align-content-center" width="5%">No.</th>
                            <th class="align-content-center" width="85%">
                                ITEM
                            </th>
                            <th class="text-center align-content-center" width="10%">
                                QUANTITY
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbodyReleasedItems">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer border p-3 text-center">
        <a href="javascript:;" class="text-secondary" id="linktoView">
            VIEW <i class="ri-lg ri-arrow-right-s-line"></i>
        </a>
    </div>
</div>