@using IIMSv1.Data
@using IIMSv1.Models
@using IIMSv1.Models.Shared
@using Microsoft.AspNetCore.Identity

@model _UserUpdateCredentials
@{
    AccountUser accountUser = ViewBag.User;
}
<form asp-action="_ResetCredentials" asp-controller="User" name="ResetCredentialsForm">
    <div class="card-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <span class="text-danger">*</span> required
                </div>
                <div class="col-lg-12">
                    <input asp-for="UserId" value="@accountUser.Id" />
                    <div class="form-group mt-3">
                        <label asp-for="UserName"></label> <span class="text-danger">*</span>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Password"></label> <span class="text-danger">*</span>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="ConfirmPassword"></label> <span class="text-danger">*</span>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <div class="alert alert-danger alert-border-left mb-2">
                            Password must have:
                            <ul>
                                <li>at least 6 characters</li>
                                <li>at least 1 non-alphanumeric character</li>
                                <li>at least 1 digit (0-9)</li>
                                <li>at least 1 UPPERCASE letter (A-Z)</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer ">
        <div class="hstack gap-2">
            <a class="btn btn-danger waves-effect waves-light" href="javascript:;" type="button" data-bs-toggle="modal" data-bs-target="#modal-delete-user">
                <i class="ri-lg ri-delete-bin-6-line"></i>
                Delete Account
            </a>
            <button type="reset" class="btn btn-light waves-effect waves-light"> Reset </button>
            <button type="button" class="btn btn-warning waves-effect waves-light" id="btnResetCredentials"><i class="ri-lg ri-refresh-line"></i>Reset Credential</button>
        </div>
    </div>
</form>