@using Microsoft.EntityFrameworkCore
@using IIMSv1.Data
@using IIMSv1.Models
@using IIMSv1.Models.ViewModel
@using IIMSv1.Models.Shared
@using Microsoft.AspNetCore.Identity
@model ReleaseItemViewModel

@{
    ViewBag.title = "Item Release";
    ViewBag.breadcrumbs = "<div class=\"breadcrumb-item active\">"
                        + ViewBag.title
                        + "</div>";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card border-left border-right border-bottom">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row d-none">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select class="form-select select2" id="ItemSel" multiple="" placeholder="" required>
                                        @foreach (var item in Model.items)
                                        {
                                            <option value="@item.Id">@item.ItemName</option>
                                        }
                                    </select>
                                    <button class="btn btn-light" id="click-offcanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-released" aria-controls="offcanvas-released">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-10">
                                <select class="form-select" id="DepartmentSel" style="width: fit-content;">
                                    <option value="">Select Department...</option>
                                    @foreach (var dept in Model.departments)
                                    {
                                        <option value="@dept.Id">@dept.NormalizedName</option>
                                    }
                                </select>
                                <span class="text-danger" id="DeptSelTextValidation"></span>
                            </div>
                            <div class="col-lg-2">
                                <div class="hstack">
                                    <button class="btn btn-label btn-secondary waves-effect waves-light ms-auto" style="width: fit-content; white-space: nowrap;" id="btnSelectItemModalOpen">
                                        <i class="ri-lg ri-add-fill label-icon align-middle fs-16 me-2"></i> Select Items
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input class="form-select" type="hidden" id="ItemContainerPrev" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form asp-action="_ReleaseItem" asp-controller="ReleaseItem" name="BulkReleaseItem">
                            <input class="form-select" type="hidden" name="DeptId" id="deptInput" />
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped responsive" id="ReleaseItemTbl">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                NO.
                                            </th>
                                            <th class="">
                                                ITEM
                                            </th>
                                            <th class="text-center">
                                                AVAILABLE STOCKS
                                            </th>
                                            <th class="text-center">
                                                QUANTITY TO RELEASE
                                            </th>
                                            <th class="text-center">
                                                REMAINING STOCKS
                                            </th>
                                            <th class="text-center">
                                                UNIT
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="ItemsContainer">
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mb-0 mt-0">
                                <div class="hstack gap-2">
                                    <button type="button" class="btn btn-label btn-success waves-effect waves-light ms-auto" id="btnDeptCheckifSel" style="display: none;">
                                        <i class="ri-lg ri-logout-circle-r-line label-icon align-middle fs-16 me-2"></i> RELEASE
                                    </button>
                                    <button type="button" class="btn btn-primary" id="btnSubmitReleaseItemBulk" style="display: none;"></button>
                                    <button class="btn btn-primary" type="submit" id="btnSubmitFormRelease" style="display: none;">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section modals {
    @await Html.PartialAsync("~/Views/ReleaseItem/Modal/_SelectItem.cshtml")
    @await Html.PartialAsync("~/Views/ReleaseItem/Modal/_ViewReleased.cshtml")
}
@section scripts {
    @await Html.PartialAsync("~/Views/ReleaseItem/Shared/_scripts.cshtml")
}