@using IIMSv1.Models.Shared
@using IIMSv1.Models
@model StockInputModel

@{
    var Path = Context.Request.Path;
    var QueryStrings = Context.Request.QueryString;
    var returnURl = Path + QueryStrings;
}
<td class="text-center align-content-center p-2">
    New Stock:
</td>
<td class="align-content-center p-2">
    <input class="form-select" type="hidden" value="@returnURl" asp-for="returnUrl" />
    <select class="form-select select2 text-left" id="ItemSel" asp-for="Item">
        <option value="">Select Item...</option>
        @foreach(var item in Model.items){
            <option value="@item.Id">@item.ItemName</option>
        }
    </select>
</td>
<td class="text-center align-content-center p-2">
</td>
<td class="text-center align-content-center p-2">
    <input asp-for="Quantity" class="form-select " type="number" id="EstPriceQuantityStocks" style="height: 30px; font-size: 12px;" />
</td>
<td class="text-center align-content-center p-2" style="white-space: nowrap;">
</td>
<td colspan="1" class="text-center align-content-center p-2">
    <button type="button" class="btn btn-light btn-sm w-100" id="btnSubmitAddStock">
        <span class="text-success">
            <i class="fas fa-plus-circle"></i>
            &nbsp;
        </span> New Stock
    </button>
    <button type="submit" class="btn" id="submitNewAddStock" style="display: none;"></button>
</td>