<td class="align-content-center text-center">
    <input class="form-select" type="hidden" name="page" id="pageNumInput" value="@Model.PaginationModel.PageNum" />
    <input class="form-select" type="hidden" name="entries" id="pageNumPerInput" value="@Model.perPage" />
    Filter:
</td>
<td class="text-center align-content-center ">
    <select class="form-select" name="status" id="statusSel" style="height: 30px; padding-top: 5px; padding-bottom: 5px; font-size: 12px;">
        <option value="true">Enabled</option>
        <option value="false">Disabled</option>
    </select>
</td>
<td class="text-center align-content-center ">
    <div class="form-icon right">
        <input type="text" class="form-select form-select-icon" placeholder="Search" id="txtsearch" name="search" value="@Model.SearchText" style="height: 30px; font-size: 12px;" />
        <i class="fas fa-search" style="font-size: 10px;"></i>
    </div>
</td>
<td class="text-center align-content-center ">
    <select name="Supply" id="SupplyFilter" asp-items="@(new SelectList(Model.ItemInputModel.supplies, "Id", "supplyName"))" class="form-select" style="height: 30px; padding-top: 5px; padding-bottom: 5px; font-size: 12px;">
        <option value="">Supply Type</option>
    </select>
</td>
<td colspan="2"class="text-center align-content-center" style="width: fit-content; white-space: nowrap;">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-5 pl-0 pr-0">
                <input type="date" class="form-select" id="dateFrom" name="dateFrom" onkeydown="return false" style="height: 30px; font-size: 12px;" />
            </div>
            <div class="col-lg-2 pl-0 pr-0 align-content-center text-center">
                <span>To:</span>
            </div>
            <div class="col-lg-5 pl-0 pr-0">
                <input type="date" class="form-select " id="dateTo" name="dateTo" disabled onkeydown="return false" style="height: 30px; font-size: 12px;" />
            </div>
        </div>
    </div>
</td>