@using IIMSv1.Models.Shared
@using IIMSv1.Models
@model ClusterInputModel

@{
    var Path = Context.Request.Path;
    var QueryStrings = Context.Request.QueryString;
    var Url = Path + QueryStrings;
}
<form asp-action="_AddDepartmentCluster" asp-controller="Cluster">
    <div id="modal-add-deptCluster" class="modal zoomIn" tabindex="-1" aria-labelledby="modal-add-deptCluster" >
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header bg-light pt-3 pb-3">
                    <h5 class="modal-title">DEPARTMENT CLUSTER</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="hidden" name="returnUrl" value="@Url" />
                                <label asp-for="ClusterName"></label> <span class="text-danger">*</span>
                                <input class="form-control" asp-for="ClusterName" />
                                <span asp-validation-for="ClusterName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-light waves-effect waves-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-secondary waves-effect waves-light">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>