@media print {
    @page {
        size: legal landscape;
    }
}
table {
    page-break-inside: auto
}

div {
    page-break-inside: avoid;
}
/* This is the key */
thead {
    display: table-header-group
}

tfoot {
    display: table-footer-group
}
