@media print {
    @page {
       size: legal portrait;
       max-height: 100%;
       max-width: 100%;
    }
}
table {
    page-break-inside: auto
}

div {
    page-break-inside: avoid;
}
/* This is the key */
thead {
    display: table-header-group
}

tfoot {
    display: table-footer-group
}
