<script>
    $(function () {
        $("#Dashboardlink").addClass("active");
    });
    AjaxReleased("");
    $(".btnSelectDept").on("click", function () {
        $(".btnSelectDept.active").removeClass("active");
        $(this).addClass("active");
        var Id = $(this).attr("data-DeptId");
        var Name = $(this).attr("data-DeptName");
        $("#select-department").text(Name);
        $("#ReleasesText").text("-");
        $("#ToReceiveText").text("-");
        $("#ReceivedText").text("-");
        $("#PulloutText").text("-");
        $.ajax({
            url: "/Inventory/GetRecords",
            method: "Post",
            data: { DeptId: Id },
            success: function (response) {
                var arrResponse = [];
                arrResponse = response.split(",");
                $("#ReleasesText").text(arrResponse[0]);
                $("#ToReceiveText").text(arrResponse[1]);
                $("#ReceivedText").text(arrResponse[2]);
                $("#PulloutText").text(arrResponse[3]);
            }
        });
        $("#partialTblLoader").show();
        $("#cardlistReleased").hide();
        if(Id != "All"){
            AjaxReleased(Id);
        }
        else {
            AjaxReleased("");
        }
    });

    function AjaxReleased(dept){
        $.ajax({
            url: "/Inventory/_GetReleased",
            method: "Post",
            data: { dept: dept },
            success: function (response) {
                var Tbody = $("#cardlistReleased");
                Tbody.empty();
                var t = "";
                console.log(response);
                for(var i = 0; i < response.length; i++){
                    var arrRelnum = []
                    arrRelnum = response[i].releaseNumber.split("-");
                    var year = arrRelnum[1];
                    var RelNum = arrRelnum[2];                            
                    t += '<li class="list-group-item ps-0">'
                             +'<a href="@Url.Action("Index", "Records")?relnum=' + RelNum + '&year=' + year + '">'
                                +'<div class="d-flex align-items-start">'
                                    +'<div class="flex-grow-1">'
                                        +'<label class="form-check-label mb-0 ps-2">'
                                            + response[i].releaseNumber
                                        +'</label>'
                                    +'</div>'
                                    +'<div class="flex-shrink-0 ms-2">'
                                        +'<p class="text-muted fs-12 mb-0">'+ response[i].dateReleased +'</p>'
                                    +'</div>'
                                +'</div>'
                            +'</a>'
                        +' </li>';
                }
                Tbody.html(t);
                $("#partialTblLoader").hide();
                $("#cardlistReleased").show();
            }
        })
    }
   
   
</script>