@using IIMSv1.Data;
@using IIMSv1.Models.Shared
@using IIMSv1.Models
@using Microsoft.AspNetCore.Identity

@model _UserChangePassword

@{
    AccountUser accountUser = ViewBag.User;
}
<form asp-action="_ChangePassword" asp-controller="Profile" name="ChangePasswordForm">
    <div class="col-lg-12">
        <div class="row">
            <input asp-for="UserId" value="@accountUser.Id"/>
            <div class="col-lg-12">
                <div class="form-group">
                    <label asp-for="OldPassword"></label> <span class="text-danger">*</span>
                    <input asp-for="OldPassword" class="form-select" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="NewPassword"></label> <span class="text-danger">*</span>
                    <input asp-for="NewPassword" class="form-select" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword"></label> <span class="text-danger">*</span>
                    <input asp-for="ConfirmNewPassword" class="form-select" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="alert alert-light mb-0">
                    Password must have:
                    <ul>
                        <li>at least 6 characters</li>
                        <li>at least 1 non-alphanumeric character</li>
                        <li>at least 1 digit (0-9)</li>
                        <li>at least 1 UPPERCASE letter (A-Z)</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="border-top pt-4 text-right">
                    <button type="reset" class="btn btn-light"> Cancel </button> &nbsp;
                    <button type="button" class="btn btn-light" id="btnChangePassword">
                        <span class="text-primary">
                            <i class="bi bi-floppy-fill"></i>&nbsp;
                        </span>
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>