@using IIMSv1.Models.Shared
@using IIMSv1.Models
@model AddItemTypeModel

<div id="modal-add-itemtype" class="modal zoomIn" tabindex="-1" aria-labelledby="modal-add-itemtype" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DESCRIPTION TYPE</h5>
                <button type="button" class="btn-close btnCancelAdd" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <input class="form-control" asp-for="SupplyId" id="supplyIdAdd"/>
                        <div class="form-group">
                            <label asp-for="ItemType"></label> <span class="text-danger">*</span>
                            <input class="form-control" asp-for="ItemType" />
                            <span asp-validation-for="ItemType" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-light waves-effect waves-light btnCancelAdd" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-label btn-secondary waves-effect waves-light btnAddItemType">
                    <i class="ri-lg ri-save-3-line label-icon align-middle fs-16 me-2"></i>
                     Save
                 </button>
            </div>
        </div>
    </div>
</div>